<div class="container-fluid  d-flex flex-column  justify-content-center ">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="">
      <!-- border  -->

      <div class="container-fluid   d-flex flex-column    col-12  my-4  ">
        <!-- <p align="center" class=" display-5 fs-1 mb-4">Login</p> -->
        <div class="form-group mt-4">
            <label for="firstName">Email First Name</label>
            <input type="text" name="firstName" class="form-control " id="exampleInputEmail1"
              placeholder="Enter first Name" ngModel >

          </div>
          <div class="form-group mt-4">
            <label for="lastName">Email Last Name</label>
            <input type="text" name="lastName" class="form-control " id="exampleInputEmail1"
              placeholder="Enter Last Name" ngModel >

          </div>
        <div class="form-group mt-4">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" ngModel >

        </div>
        <div class="form-group mt-4">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel>
        </div>

        <button type="submit" mat-raised-button class="btn btn-primary mt-4 rounded-0 " >Register</button>


      </div>

    </form>

  </div>


